.contact-section{
    padding-top: 15rem;
    margin-bottom: 5rem;
    @media(min-width:758px){
        padding-top:17rem;
        margin-bottom: 7rem;
    }
    @media(min-width:992px){
        padding-top:19rem;
        margin-bottom: 11rem;
    }
    .contact-form{
        .contact-form-title{
            font-family: $bodoni;
            font-size: 2.5rem;
            line-height: 3.5rem;
            letter-spacing: 3px;
            margin-bottom: 3rem;
            text-transform: uppercase;
            @media(min-width:992px){
                font-size: 3rem;
                line-height: 4.5rem;
                letter-spacing: 5px;
                margin-bottom: 5rem;
            }
        }
        .form-control{
            border: none;
            font-size: 1.6rem;
            font-weight: 300;
            letter-spacing: -0.23px;
            line-height: 5rem;
            background-color: rgba(#253d61, 0.05);
        }

    }

    .contact-section-wrapper{
        position: relative;
        .row{
            > div{
                &:nth-of-type(2n){
                    @media(min-width:992px){
                        flex: 0 0 50%;
                        width: 50%;
                        position: absolute;
                        top:0;
                        right: 0;
                        height: 100%;
                        overflow: hidden;
                        padding-left: 110px;

                    }
                }

            }

        }
    }


}
