.contact-info{
    margin-bottom: 4.6rem;
    @media(min-width:992px){
        padding: 63px 0 60px 0 !important;
    }
    .contact-info-wrapper{
        .contact-info-wrapper-address{
            font-size: 2.4rem;
            line-height: 2.5rem;
            font-weight: 300;
            text-transform: capitalize;
        }
        a{
            font-size: 2.4rem;
            line-height: 2.5rem;
            font-weight: 300;
            color: $body-color !important;
        }
    }
}