.pagination-section{
    nav{
        a{
            border: none;
            font-family: $bodoni;
            font-size: 1.6rem;
            line-height: 2.4rem;
            span{
                font-size: 3rem;
            }
        }
    }
}